header{
    background-color:#000000;
    color: white;
    width: 98.78w;
    height: 6vh;
    padding-top: 1vh;
    padding-left: 2vw;
}

.home{
    background-color: #CDCDCD;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 1vw;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 97vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#searchInput{
    background-color:#D9D9D9;
    width: 83vw;
    height: 6vh;
    padding-left: 1vw;
}

#searchBtn{
    width:12vw;
    height: 6vh;
    background-color: #000000;
    color: white;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 3vh;
}

.btn{
    border-radius:0;
    width: 15vw;
    height: 6vh;
}

.table{
    background-color:#D9D9D9;
    width: 97vw;
    margin-left: 0.5vw;
    border: #000000;
}

img{
    border-radius: 50%;
    margin-right: 1vw;
    height: 4vh;
    width: 2vw;
    border: 1px solid black;
}


h4{
    text-align: center;
    margin-top: 1vh;
}